$color-header: #BBBFCA;
$color-navbar: #495464;
$color-card: #E8E8E8;
$color-footer: hsla(216, 16%, 34%, 0.583);
$fuente-footer: white;

$fuente-h1: 'Londrina Sketch', cursive;
$fuente-titulo: 'Fredericka the Great', cursive;
$fuente-general: 'Inria Serif', serif;