@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Inria+Serif:wght@400;700&family=Londrina+Sketch&display=swap');

/* 
font-family: 'Fredericka the Great', cursive;
font-family: 'Inria Serif', serif;
font-family: 'Londrina Sketch', cursive;
*/
